.lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 20px;
    float: inherit;
    margin-top: -80px;
    margin-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#logo {
    width: 100px;
    height: 100px;
}

#fari{
    padding-top: 30px;
}